<!doctype html>
<html>
	<head>
		<meta name="description" content="This is a basic HTML form"/>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	</head>
	<body>
		<form action="/upload" method="post" enctype="multipart/form-data">
			<input type="file" name="upload" multiple="multiple"/>
			<input type="submit" name="submit" value = "Upload file"/>
		</form>	
	</body>	

</html>